# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Data and Logs
*.mp3
*.wav
*.ogg
*.m4a
audio_history/
logs/
temp/

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/
